<% content_for :header do %>
  <span class='devise-button'>
    <%= render 'devise/registrations/prompt' %>
    <%= link_to t('devise.login'), new_user_session_path, class: 'btn btn-default' %>
  </span>
<% end %>

<div class='row'>
  <div class='col-md-8'>
    <%= render 'devise/shared/info' %>
  </div>
  <div class='col-md-4'>
    <%= render 'form' %>
  </div>
</div>
