<div class='devise'>
<div class='info'>
  <div class='info-title'>
    SPORTER
  </div>

  <div class='info-header'>
    Sporter is a question and answer site for professional and enthusiast programmers.
  </div>

  <div class='info-body'>
    Sporter With your help, we're working together to build a library of detailed answers to every question about programming. Sporter own the follow features:
  </div>

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item1.png' %>
    </div>
    <div class='info-item-head'>
      So Much Questions
    </div>
    <div class='info-item-body'>
      more than 1,000,000 questions.
    </div>
  </div> <!-- .info-item -->

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item2.png' %>
    </div>
    <div class='info-item-head'>
      More Interview Chance
    </div>
    <div class='info-item-body'>
      Answer more questions, you will get more interview chances.
    </div>
  </div> <!-- .info-item -->

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item3.gif' %>
    </div>
    <div class='info-item-head'>
      Mobile Website
    </div>
    <div class='info-item-body'>
      access http://stacker.com with browser in your mobile, then you can get all the content.
    </div>
  </div> <!-- .info-item -->

</div> <!-- .info -->
</div> <!-- .devise -->
