<div class='devise'>
<div class='info'>
  <div class='info-title'>
    SPORTER
  </div>

  <div class='info-header'>
    Sporter 是为专业和热情的程序员提供的一个问答平台。
  </div>

  <div class='info-body'>
    Sporter 的开发理念是：电子邮件可以更加直观、高效而实用，甚至可能很有趣。Sporter 具有以下特点：
  </div>

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item1.png' %>
    </div>
    <div class='info-item-head'>
      超多活动
    </div>
    <div class='info-item-body'>
      每周超过2场以上的固定活动。
    </div>
  </div> <!-- .info-item -->

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item2.png' %>
    </div>
    <div class='info-item-head'>
      增强体制
    </div>
    <div class='info-item-body'>
      每周两场球，有个好身体。
    </div>
  </div> <!-- .info-item -->

  <div class='info-item'>
    <div class='info-item-image'>
      <%= image_tag 'google_devise_item3.gif' %>
    </div>
    <div class='info-item-head'>
      移动网页版
    </div>
    <div class='info-item-body'>
      将手机的网络浏览器指向 http://stacker.com，便可以在您的手机上查阅网站全部内容。
    </div>
  </div> <!-- .info-item -->

</div> <!-- .info -->
</div> <!-- .devise -->
