<div>
  <%= link_to localize_date(activity.started_at), [activity.group, activity] %>, <%= localize_time activity.started_at %> - <%= localize_time activity.stopped_at %>
  <%# activity.started_at %>
  <%# activity.stopped_at %>
</div>
