<ul class="nav nav-pills nav-stacked">
  <% if controller_name == 'groups' and action_name == 'fees' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '费用项管理', group_fees_path(@group) %>
  </li>
</ul>
