<div class="row">
  <div class="col-md-8">

    <%= link_to '添加球友入群', new_user_path(group_id: @group.id), class: 'btn btn-warning' %>
    <%= link_to '充值', new_group_transaction_path(@group), class: 'btn btn-warning' %>
    <br>

    <h4>群内球友</h4>
    <div class='users'>
      <%= render 'users' %>
    </div>

  </div>

  <div class="col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
