<%# render partial: 'shared/navbar', locals: { group: @group } %>
<%= render 'users/navbar' %>

<div class="row">
  <div class="col-md-4">

    <h2>新建群</h2>

    <%= render 'form' %>

    <%= link_to 'Back', groups_path %>

  </div>
</div>
