<%= render partial: 'shared/navbar', locals: { group: @group } %>

<%# render 'timeline' %>

<div class="row">
  <div class="col-md-8">
    <h4>近期活动</h4>
    <%# render file: 'activities/new' %>
    <%# render partial: 'activities/activity', collection: @group.activities.inoneweek, as: :activity %>
    <%# render partial: 'activity', collection: @group.activities.inoneweek, as: :activity %>
    <%= render partial: 'activities/activity', collection: @group.activities.inoneweek %>
  </div>

  <div class="col-md-4">
    <h4>新会员</h4>
    <%= render 'sidebar' %>
  </div>
</div>
