<div class="row">
  <div class="col-xs-12 col-md-8">
    <%= render file: 'fees/new' %>
    <%= render file: 'activities/new' %>
    <%# render partial: 'activities/activity', collection: @group.activities, as: :activity %>
    <%# render partial: 'activity', collection: @group.activities, as: :activity %>
    <%= render partial: 'activity', collection: @group.activities %>
  </div>

  <div class="col-xs-6 col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
