<%= render partial: 'shared/navbar', locals: { group: @group } %>

<%# render 'timeline' %>

<div class="row">
  <div class="col-md-9">
    <h4>近期活动</h4>
    <%# render file: 'activities/new' %>
    <%# render partial: 'activities/activity', collection: @group.activities.inoneweek, as: :activity %>
    <%# render partial: 'activity', collection: @group.activities.inoneweek, as: :activity %>
    <%= render partial: 'activities/activity', collection: @group.activities.oneweek %>
  </div>

  <div class="col-md-3">
    <h4>新会员</h4>
    <div class='users'>
      <% groups = @group.users.order(created_at: :desc).limit(5).in_groups_of(1, false) %>
      <%= render partial: 'user_new', collection: groups, as: :group %>
    </div>
  </div>
</div>
