<div class="row">
  <div class="col-xs-12 col-md-8">

    <p>
    <%= link_to '球友存款', new_transaction_path, class: 'btn btn-warning' %>
    <%# link_to t('transactions.action.deposit'), new_transaction_path, class: 'btn btn-warning' %>
    </p>

    <h4>交易记录</h4>
    <%= render 'shared/transactions', transactions: @group.transactions.order(operated_at: :asc) %>
  </div>

  <div class="col-xs-6 col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
