<div class="row">
  <div class="col-xs-12 col-md-8">
    <%= link_to t('activerecord.models.group'), groups_path %>

  </div>
  <div class="col-xs-6 col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
