<%= link_to t('groups.new'), new_group_path %>

<h4>我创建的群</h4>
<% current_user.owned_groups.each do |group| %>
  <%= link_to group.name, group %> <br>
<% end %>

<h4>我管理的群</h4>
<% current_user.managed_groups.each do |group| %>
  <%= link_to group.name, group %>
<% end %>

<h4>我加入的群</h4>
<% current_user.groups.each do |group| %>
  <%= link_to group.name, group %> <br>
<% end %>
