<%= link_to t('groups.new'), new_group_path %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">我创建的群</h3>
  </div>
  <div class="panel-body">
    <% current_user.owned_groups.each do |group| %>
      <%= link_to group.name, group %> <br>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">我管理的群</h3>
  </div>
  <div class="panel-body">
    <% current_user.managed_groups.each do |group| %>
      <%= link_to group.name, group %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">我加入的群</h3>
  </div>
  <div class="panel-body">
    <% current_user.groups.each do |group| %>
      <%= link_to group.name, group %> <br>
    <% end %>
  </div>
</div>
