<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>姓名</th>
      <th>操作</th>
      <th>金额（元）</th>
      <th>操作日期</th>
    </tr>
  </thead>

  <tbody>
    <% transactions.each do |txn| %>
      <tr>
        <td><%= link_to txn.user.name, txn.user %></td>
        <td><%= t('transactions.action.'+txn.action) %></td>
        <td><%= show_price txn.amount %></td>
        <td><%= localize_date txn.operated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
