/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* Space out the masthead */
  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.top-splitter {
  margin-top: 30px;
}

.header {
  img {
    margin-left: 20px;
  }
}


body .users {
//padding-top: 15px;
//padding-bottom: 15px;
  .user-entry {
//  float: left;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 90%;

    .user-gravatar {
      margin-left: 10px;
//    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
//    border-collapse: separate;
    }

    a {
      color: #1086a4;
      &:visited {
        color: #13b3bd;
      }
    }

    .user-location {
      color: #888;
    }

    .reputation-score {
      font-weight: bold;
      color: #444;
    }

    .user-tags {
      color: #888;
    }
  }
  .user-page {
    margin-top: 20px;
    clear: both;
  }
} // .users
