<%= render 'shared/cardtabs' %>
<br>

<div class="row">
  <div class="col-md-8">
    <%= render 'shared/transactions', transactions: @group.transactions.order(operated_at: :asc) %>
  </div>

  <div class="col-md-4">
    <%= link_to '充值', new_group_transaction_path(@group), class: 'btn btn-warning' %>
  </div>
</div>
