<div class="row">
  <div class="col-md-8">
    <%= link_to '创建活动', new_group_activity_path(@group), class: 'btn btn-warning' %>
    <%# link_to 'Edit', edit_group_activity_path(@group, activity) %>
    <br> <br>
    <h4>活动列表</h4>

    <%= render partial: 'activity', collection: @group.activities %>
    <%# render partial: 'activity', collection: @group.activities, as: :activity %>
  </div>
  <div class="col-md-4">
    <%= render 'groups/sidebar' %>
  </div>
</div>
