<div class="row">
  <div class="col-md-9">
    <%= link_to '创建活动', new_group_activity_path(@group), class: 'btn btn-warning pull-right' %>

    <ul class="nav nav-tabs">
      <%= tab_link_to '近期活动', group_activities_path(@group), nil, params[:tab] %>
      <%= tab_link_to '已结束活动', group_activities_path(@group, tab: 'outdated'), 'outdated', params[:tab] %>
    </ul>

    <%= render partial: 'activity', collection: @activities %>
    <%# render partial: 'activity', collection: @activities, as: :activity %>
  </div>
  <div class="col-md-3">
    <%# render 'groups/sidebar' %>
  </div>
</div>
